.hidden
  .js-rc-seeker-username{data: {username: seeker.rc_username.to_s, id: seeker.rc_id, error: I18n.t("broker.seeker.edit.error")}}
  - if seeker.rc_username.present?
    = link_to '#', room_broker_rocketchats_path(seeker.rc_username), class: 'js-rocket-chat-room'
