- if @seeker.assignments.count > 0
  %div.bg-info.provider_allocations
    %h3= 'Einsätze'
    - for assignment in @seeker.assignments
      %h4
        = link_to assignment.provider.name, edit_broker_provider_path(assignment.provider)
      %p
        = link_to assignment.description, edit_broker_provider_path(assignment.provider)