- if @seeker.assignments.count > 0
  %div.provider_allocations
    %h4.assignments-header= 'Einsätze'
    %ul.allocations-list
      - @seeker.assignments.order(created_at: :desc).each do |assignment|
        - if assignment.provider.present?
          %li.allocations-list-item
            %p
              = link_to "#{assignment.provider.name}, #{assignment.description}", edit_broker_provider_path(assignment.provider)
