- if @seeker.todos.seeker.exists?
  %div.provider_allocations
    %h4.todo-title= 'Todo'
    - for todo in @seeker.todos.seeker
      %p.todo-title= todo.todotype.title
      %ul.allocations-list
        %li.allocations-list-item= todo.todotype.description.html_safe