%a.back_button{href: '#'}
  = '< ' + t('common.back')

%div.row
  %div.col-sm-8
    = render 'form'
  %div.col-sm-4.margin_top_120
    -#%div.bg-info
    -#  %h3 TODO
    %div.bg-info.provider_allocations
      = render 'allocations'

