- if @provider.todos.provider.exists?
  %div.provider_allocations
    %h3= 'TODO'
    - for todo in @provider.todos.provider
      %h4= todo.todotype.title
      %p= todo.todotype.description.html_safe