= link_to '< ' + t('common.back'), broker_dashboard_path, class: 'back_button'

%div.row
  %div.col-md-8
    = render 'form'
  %div.col-md-4.margin_top_120
    %div.bg-info
      %h3 TODO
    %div.bg-info
      = render 'allocations'
