= link_to '< ' + t('common.back'), broker_dashboard_path
%h1= t('providers.edit.title') + ' ' + @provider.name

= render 'form'

%ul.nav.nav-pills
  %li= link_to t('common.show'), broker_provider_path(@provider)
