%h1 Über SmallJobs.ch

%p.lead
  SmallJobs vermittelt Sackgeldjobs von Erwachsenen an Jugendliche zwischen 13-17 Jahren. Die Jobs werden von Jugendarbeitsstellen vermittelt.

%h2
  Sie haben einen Job für Jugendliche anzubieten?

%p
  Sie haben einen Sackgeld-Job, den Sie gerne von Jugendlichen in ihrer Gemeinde/Region erledigen lassen wollen?
  Sackgeldjobs sind zum Beispiel:

  %ul
    %li Rasenmähen
    %li Einkaufen
    %li Reinigungsarbeiten, Fenster putzen
    %li Gartenarbeiten
    %li Compi-Support
    %li Hilfe beim einrichten eines Smartphones
    %li Flyer verteilen
%p
  :markdown
    Bitte lesen Sie die [Richtlinien](/rules_of_action) genau um zu überprüfen, ob ihr Job vermittelbar ist **[und melden Sich bitte danach hier an](/brokers/sign_up)**. 
    Falls sie Probleme bei der Registrierung haben, melden Sie sich bitte direkt bei der Organisation.
%p
  Nach der Aktivierung ihres Kontos, können Sie Jobs erfassen, die an Jugendliche vermittelt werden.

%h2
  Du bist JugendlicheR und suchst einen Job? 
%p
  Bist du zwischen 13 und 18 Jahren? 
  :markdown
    Dann **Melde [dich an!](/seekers/sign_up)**
%p
  :markdown
    *(Das Mindestalter beträgt 13 Jahre. Für Jugendliche bis 15 Jahre gilt ein Arbeitsverbot. Im Gesetz sind aber Ausnahmen aufgeführt für Jugendliche ab 13 Jahren. Weiteres findest Du in den [Richtlinien](/rules_of_action).)*

%h2
  SmallJobs für Jugendarbeitstellen:

%p
  :markdown
    Das Projekt kann von Jugendarbeitstellen vom Verein SmallJobs gemietet werden. Sie erhalten umfassende Unterstützung in der Einführung des Projektes sowie Betreuung im Betrieb und ein einfaches Tool zur Verwaltung einer Sackgeld-Jobs-Börse.

    Die umfangreichen Unterlagen helfen ihnen als Jugendarbeitstelle, ein Sackgeld-Jobs einfach und schnell einzuführen. 

    Bitte nehmen Sie mit uns [Kontakt](/contact) auf!

%h2
  SmallJobs Geschichte

%p
  :markdown
    SmallJobs hat 2013 den ["Prix Génération"](http://prix-generation.ch/) gewonnen, ist "ImpactHub Fellow" und ist seit Oktober 2013 aktiv im [ImpactHub Zürich](http://zurich.impacthub.net/) am Aufbau von SmallJobs. 

    Herzlichen Dank geht an die [AXA Stiftung Generationendialog](http://www.generationen-dialog.ch/), der [Schweizer-Familie](http://www.schweizerfamilie.ch/), für ihre Unterstützung.


%h2 
  Kontakt

%p
  :markdown
    Smalljobs ist ein Produkt des [Vereins SocialBox](http://socialbox.ch) und arbeitet Nicht-Gewinn-orientiert.

%address
  Verein SocialBox
  %br
  Auweg 6
  %br
  CH-5102 Rupperswil
