%h1 Über SmallJobs.ch

%p.lead
  SmallJobs vermittelt Sackgeldjobs von Erwachsenen an Jugendliche zwischen 13-17 Jahren. Die Vermittlung der Jobs werden von Jugendarbeitsstellen übernommen.


%p
  Sie haben einen Sackgeld-Job, den Sie gerne von Jugendlichen in ihrer Gemeinde/Region erledigen lassen wollen?
  Sackgeldjobs sind zum Beispiel:
    * Rasenmähen
    * Einkaufen
    * Reinigungsarbeiten, Fenster putzen
    * Gartenarbeiten
    * Compi-Support
    * Hilfe beim einrichten eines Smartphones
    * Flyer verteilen
    * 

%p 
  Du bist JugendlicheR zwischen 13 und 18 Jahren und suchst einen Job?
  Melde [dich an](/seekers/sign_up)


%p
  Rechtliche Informationen:
  Das Mindestalter beträgt 13 Jahre. Für Jugendliche bis 15 Jahre gilt ein Arbeitsverbot. Im Gesetz sind aber Ausnahmen aufgeführt für Jugendliche ab 13 Jahren.


%p.h2
  SmallJobs für Jugendarbeitstellen:

  Das Projekt kann von Jugendarbeitstellen vom Verein SmallJobs gemietet werden. Sie erhalten umfassende Unterstützung in der Einführung des Projektes sowie Betreuung im Betrieb und ein einfaches Tool zur Verwaltung einer Sackgeld-Jobs-Börse. Die umfangreichen Unterlagen helfen ihnen als Jugendarbeitstelle, ein Sackgeld-Jobs 
  einfach und schnell einzuführen.
  Bitte nehmen Sie mit uns [Kontakt]/(/contact) auf!

%p
  SmallJobs hat 2013 den ["Prix Génération"](http://prix-generation.ch/) gewonnen, ist "ImpactHub Fellow" und ist seit Oktober 2013 aktiv im [ImpactHub Zürich](http://zurich.impacthub.net/) am Aufbau von SmallJobs.
  Herzlichen Dank an die [AXA Stiftung Generationendialog](http://www.generationen-dialog.ch/), der [Schweizer-Familie](http://www.schweizerfamilie.ch/), die die Realisierung dieses Projektes überhaupt ermöglicht haben.

%p.h2 Verein SocialBox 
  Smalljobs ist eine Produkt des [Vereins SocialBox](http://socialbox.ch) und arbeitet Nicht-Gewinn-orientiert.
  Verein SocialBox
  Auweg 6
  CH-5102 Rupperswil
