%h2= t('pages.sign_up.job_find_title')
%p= t('pages.sign_up.job_find_text')

= link_to image_tag('logo_play.png', width: 150), 'https://play.google.com/store/apps/details?id=com.tatentraeger.jugendinfo', target: '_blank'
= link_to image_tag('logo_appstore.png', width: 150), 'https://itunes.com/apps/jugendinfo', target: '_blank'