%h1 Wie melde ich mich als Vermittler an?

%p.lead
  Sie würden gerne SmallJob unterstützen und aktiv und unentgeltlich als Vermittler bei der Vergabe von Sackgeld-Jobs mithelfen?
  Das freut uns natürlich!

%p
  Gibt es in ihrer Gemeinde bereits eine Jugendarbeitstelle und benützt diese bereits SmallJobs? 
  Dann melden Sie sich bitte direkt bei ihrer Jugendarbeitsstelle.

%p
  Wenn nicht, können wir ihnen dies leider im Moment noch nicht direkt ermöglichen.
   
  Melden sie sich doch bei den Jugendarbeitern und erzählen sie von unserer Plattform und ihrem Bedürfnis, sie aktiv zu unterstützen!
  Und wer weiss, vielleicht führt ihre Jugendarbeitstelle das Projekt auch bald in ihrer Region ein.

%p
  Bis jetzt funktioniert SmallJobs vor allem mit Jugendarbeitstellen, die aktiv die Jobs an Jugendliche vermittelt. Aber auch andere Institutionen können aktiv die Plattform benutzen und Jobs von Erwachsenen an Jugendliche vermitteln. 

  
%p
 Falls Sie Interesse an SmallJobs haben, nehmen sie doch mit uns Kontakt auf:

 Mich Wyser
 Tel: 044 520 54 15
 Mail: kontakt@smalljobs.ch

 Verein SmallJobs / Auweg 6 / CH-5102 Rupperswil
