%h1 Richtlinien

%p.lead
  Bitte lesen Sie diese genau durch, bevor sie SmallJobs benutzen.

%p **Die Haftpflicht- und Unfallversicherung ist Sache der teilnehmenden Jugendlichen und der Eltern.**

%h2 Welche Altersgrenzen sind zu beachten?
%p Das Mindestalter beträgt **13 Jahre**. Für Jugendliche bis 15 Jahre gilt ein Arbeitsverbot. Im Gesetz sind aber Ausnahmen aufgeführt für Jugendliche ab 13 Jahren.

%h2 Wen betreffen die Jugendschutzbestimmungen?
%p Die Jugendschutzbestimmungen betreffen alle Jugendliche bis zu ihrem 18. Lebensjahr.

%p Welche Tätigkeiten sind erlaubt?

  %li leichte Arbeiten
  %li Botengänge
  %li kulturelle, künstlerische und sportliche Tätigkeiten
  %li Werbung


%h2 Was sind leichte Arbeiten?
%p Leichte Arbeiten haben keinen negativen Einfluss auf die Gesundheit, die Sicherheit sowie die physische und psychische Entwicklung der Jugendlichen. Sie beeinträchtigt weder den Schulbesuch, noch die Schulleistung.

%h2 Wie lange darf ein Jugendlicher ab 13 Jahren arbeiten?
%p Während der Schulzeit betragen die Höchstarbeitszeiten 3 Stunden pro Tag und 9 Stunden pro Woche.
%p Während der Ferienzeit die halbe Dauer der Schulferien, 8 Stunden pro Tag und 40 Stunden pro Woche. Bei mehr als 5 Stunden muss mindestens eine halbe Stunde Pause gewährt werden und zwischen zwei Arbeitseinsätzen müssen mindestens 12 Stunden Ruhezeit liegen.

%h2 Ist Nacht- und Sonntagsarbeit erlaubt?
%p Nacht- und Sonntagsarbeit ist für Jugendliche generell verboten. Ausnahmen werden nur bewilligt, wenn dies im Rahmen der beruflichen Grundausbildung unentbehrlich ist. Bei künstlerischen, kulturellen und sportlichen Anlässen, die nur abends oder am Sonntag stattfinden, dürfen Jugendliche ebenfalls ausnahmsweise bis 23 Uhr eingesetzt werden.

%h2 Was ist verboten?
%p Jugendliche dürfen nicht zur Bedienung in Bars, Nachtlokalen oder Diskotheken angestellt werden. Die Bedienung in Hotels, Restaurants und Cafés ist für Jugendliche unter 16 Jahren nur eingeschränkt erlaubt.
%p Jugendliche unter 16 Jahren dürfen nicht in Betrieben der Filmvorführung oder im Zirkus beschäftigt werden.
%p Jugendliche dürfen keine gefährlichen Arbeiten leisten. Vom Bund wurde eine Liste mit gefährlichen Arbeiten für Jugendliche erstellt, die verboten sind.

%h2 Was müssen Arbeitgeber tun?
%p Der Arbeitgeber ist verpflichtet, die Jugendlichen ausreichend und angemessen zu informieren und anzuleiten, vor allem in Bezug auf Sicherheit und Gesundheitsschutz am Arbeitsplatz. Er muss auch die Eltern über Gefahren informieren.

%h2 Wo finden sich diese und weitere Informationen?

  %li [http://www.admin.ch/ch/d/sr/822_11/index.html]/(Arbeitsgesetz (ArG) Art. 29 bis 31)
  %li [http://www.admin.ch/ch/d/sr/822_115/index.html]/(Verordnung 5 zum Arbeitsgesetz (Jugendarbeitsschutzverordnung))
  %li [http://www.admin.ch/ch/d/sr/822_115_2/index.html]/(Verordnung des EDV über gefährliche Arbeiten für Jugendliche)
  %li [http://www.admin.ch/]/(www.admin.ch)
