%h1 Allgemeine Geschäftsbedingungen



%p  Allgemeines

        Der Verein Socialbox mit Sitz in Rupperswil (nachfolgend "SocialBox" genannt) erbringt unter der Website http://www.smalljobs.ch (nachfolgend "SmallJobs-Webseite" genannt) Dienste für Nutzer. Diese haben die Möglichkeit, über die SmallJobs-Webseite Sackgeld-Jobs vermittelt zu bekommen. SocialBox sowie die Vermittler sind nicht Partei der "Sackgeldjobs"-Beziehung.

        Sämtliche rechtlichen Beziehungen zwischen SocialBox und dem Nutzer der SmallJobs-Webseite (nachfolgend "Nutzer" genannt) betreffend die Dienste von SocialBox sind ausschliesslich durch diese Allgemeine Geschäftsbedingungen (nachfolgend "AGB" genannt) geregelt.

        Bei Widersprüchen zwischen diesen AGB und allenfalls abweichenden Bestimmungen auf der SmallJobs-Webseite gehen letztere Bestimmungen diesen Nutzungsbestimmungen vor, sofern diese integrierte Bestandteile der Nutzungsbestimmungen sind.

        Der Nutzer kann die AGB jederzeit aufrufen, herunterladen, speichern und ausdrucken.

    Zustandekommen des Vertragsverhältnisses mit SocialBox

        Mit dem Anklicken des Feldes "Ich stimme den Allgemeinen Geschäftsbedingungen und der Datenschutzerklärung zu" erklärt sich der Nutzer mit den AGB und der Datenschutzerklärung einverstanden.

        Mit dem Eingang der Registrierungsbestätigung von SocialBox per E-Mail an die vom Nutzer angegebene E-Mail-Adresse kommt das Vertragsverhältnis zwischen SocialBox und dem Nutzer zustande (nachfolgend "Vertragsverhältnis" genannt). Es besteht kein Anspruch des Nutzers auf Abschluss eines Vertragsverhältnisses.

        Sämtliche Angaben, die von SocialBox ausserhalb des Vertragsverhältnisses gemacht werden, namentlich auf der SmallJobs-Webseite, sind unverbindlich freibleibend und als blosse Einladung zur Offerte zu verstehen, sofern dies durch SocialBox nicht ausdrücklich anders festgelegt wird.

    Registrierung des Nutzers

        Der Nutzer hat sich vor der vollständigen Inanspruchnahme der Dienste der SmallJobs-Webseite zu registrieren. Die Registrierung wird auf der SmallJobs-Webseite geregelt, die insofern integrierter Bestandteil dieser AGB ist.

        Eine allenfalls zu bezahlende Gebühr sowie die Fälligkeit derselben ergeben sich aus der SmallJobs-Webseite, die insofern integrierter Bestandteil dieser AGB ist.

        Der Nutzer sichert zu, dass alle von ihm bei der Registrierung angegebenen Daten wahr und vollständig sind.

        Der Nutzer ist verpflichtet, SocialBox Änderungen der Nutzerdaten unverzüglich schriftlich mitzuteilen. Dies erfolgt über die SmallJobs-Webseite.

        Bei der Registrierung wählt der Nutzer ein Passwort. Er ist verpflichtet, sein Passwort geheim zu halten, die von ihm benutzten Geräte, mit welchen er auf die SmallJobs-Webseite zugreift, vor Ausspähung durch Schadprogramme angemessen zu schützen und SocialBox jeden Verdacht einer Preisgabe des Passwortes sofort zu melden.

        Der Nutzer darf sich nur einmal registrieren. Er ist damit einverstanden, dass sämtliche mit seinen Zugangsdaten auf der SmallJobs-Webseite getätigten Aktivitäten ihm zugerechnet werden, als wären es seine eigenen.

        Wenn die Zugangsdaten des Nutzers durch Dritte missbraucht werden, haftet der Nutzer wie für seine eigenen Handlungen. Alle E-Mails oder sonstigen Nachrichten, die von seiner E-Mail-Adresse oder seinem Konto stammen, gelten als seine eigenen.

    SmallJobs-Webseite

        SocialBox stellt mit der SmallJobs-Webseite eine Plattform zur Verfügung, auf der Jobsucher mit Jobanbietern miteinander vermittelt werden. SocialBox bietet keine eigenen Jobs an, sondern vermittelt lediglich Jobs zwischen den Nutzern.

        Die Dienste von SocialBox sind auf der SmallJobs-Webseite beschrieben. Diese Angaben sind integrierter Bestandteil dieser AGB.

        Der Nutzer gewährt SocialBox hiermit ein unentgeltliches, nicht widerrufbares, sachlich, örtlich und zeitlich unbeschränktes Nutzungsrecht an den vom Nutzer auf der SmallJobs-Webseite eingestellten Inhalten. Davon ausgeschlossen sind Personenbilder des Nutzers. SocialBox darf die Inhalte (mit Ausnahme der Personenbilder des Nutzers) - selbst in veränderter Form - insbesondere auch im Rahmen von Marketing- oder Promotionszwecken verwenden. Das Nutzungsrecht besteht über die Beendigung des Vertragsverhältnisses für unbestimmte Zeit fort.

        Jegliche Nutzung der auf der SmallJobs-Webseite aufgeführten Dienste und Inhalte durch den Nutzer bedarf der vorherigen schriftlichen Zustimmung von SocialBox, sofern das Vertragsverhältnis zwischen SocialBox und dem Nutzer diese Nutzung nicht vorsieht.

        SocialBox ist berechtigt, die beschriebenen Dienste unter Beachtung der nachstehenden Ziff. 13 jederzeit zu ändern oder einzustellen.

        Der Nutzer ist für sämtliche Inhalte, die er auf der SmallJobs-Webseite einstellt, allein verantwortlich. Der Nutzer ist bei der Nutzung der SmallJobs-Webseite sowie bei allen anderen Handlungen oder Unterlassungen, die mit der SmallJobs-Webseite zusammenhängen verpflichtet,

            die anwendbaren Gesetze, insbesondere auch die öffentlich-rechtlichen Vorschriften einzuhalten;

            die Bestimmungen des Vertragsverhältnisses zwischen SocialBox und dem Nutzer einzuhalten;

            die Rechte von Dritten zu beachten und insbesondere keine Urheberrechte oder andere Immaterialgüterrechte von Dritten zu verletzen;

            den von ihm angebotene Job richtig und vollständig zu beschreiben, wobei er mindestens zu den von SmallJobs vorgegebenen Pflichtfeldern Angaben zu machen hat;

            den von ihm angebotenen Job sowie weitere Informationen, die er auf der SmallJobs-Webseite einstellt, stets aktuell zu halten;

            die SmallJobs-Webseite nicht gewerblich zu nutzen;

            Adressen, Kontaktdaten und E-Mail-Adressen, die er durch die Nutzung der SmallJobs-Webseite erhalten hat, nur für Zwecke zu nutzen, die vom Vertragsverhältnis gedeckt sind.

    JOBXXXX

      
        SocialBox übernimmt keine Gewähr dafür und steht nicht dafür ein, dass die Nutzer der SmallJobs-Webseite die einander geschuldeten vertraglichen Pflichten erfüllen oder dazu in der Lage sind und dass die von ihnen gemachten Angaben, einschliesslich der Identität, richtig und vollständig sind. 

        Auftretende Fälle von Mängeln, Verspätungen oder anderen Leistungsstörungen müssen die Nutzer miteinander regeln.

    Zahlung, Zahlungsablauf und Rechnungstellung

        Der Mietvertrag kommt immer über den auf der SmallJobs-Webseite aufgeführten Gesamtbetrag zustande. Diese Vorschrift kann von den Parteien des Mietvertrags nicht abgeändert werden. Der Gesamtbetrag setzt sich zusammen aus dem Mietzins und der Bearbeitungsgebühr.

        Der zu bezahlende Gesamtbetrag sowie die Zahlungsmöglichkeiten und Zahlungsmodalitäten werden auf der SmallJobs-Webseite geregelt. Die entsprechenden Bestimmungen der SmallJobs-Webseite sind insofern integrierte Bestandteile dieser AGB.

        Der Gesamtbetrag versteht sich immer inklusive Mehrwertsteuer, sofern diese geschuldet ist und auf der SmallJobs-Webseite nichts anderes festgelegt wird.

        Dem Nutzer ist es untersagt, die vorgenannten Bestimmungen dieser Ziff. 6, insbesondere die Bearbeitungsgebühren, zu umgehen.

    Bewertungssystem

        Jeder Nutzer darf andere Nutzer der SmallJobs-Webseite bewerten.

        Der Nutzer ist verpflichtet, bei der Bewertung anderer Nutzer wahrheitsgemässe Aussagen zu machen. Unsachliche, ehrverletzende oder auf andere Weise rechtsverletzende oder unangemessene Kommentare sind untersagt.

        Jede Benutzung des Bewertungssystems, die dessen Zweck widerspricht, ist verboten. Hierzu gehören insbesondere Einträge, die durch untereinander verbundene Personen oder nicht existente Personen erfolgen oder Bewertungen von sich selbst.

        Die Bewertungen werden von SocialBox nicht überprüft. SocialBox übernimmt keine Gewähr für die Richtigkeit oder Angemessenheit der Bewertungen. SocialBox behält sich jedoch vor, Bewertungen oder Kommentare ohne Angabe von Gründen zu löschen.

        Im Übrigen gelten die Informationen auf der SmallJobs-Webseite zum Bewertungssystem von SocialBox, die insofern integrierte Bestandteile dieser AGB sind.

    Sanktionen

        Bestehen Anhaltspunkte, dass der Nutzer gesetzliche Vorschriften, Rechte Dritter (inklusive Rechte von anderen Nutzern) oder Bestimmungen des Vertragsverhältnisses zwischen SocialBox und dem Nutzer verletzt oder dass ein Nutzer im Bewertungssystem mehrfach negative Bewertungen erhalten hat, kann SocialBox folgende Massnahmen nach eigenem freien Ermessen ergreifen:

            Verwarnung des Nutzers;

            Löschung einzelner Einträge;

            Vorübergehende Sperrung des Nutzers;

            Endgültige Sperrung des Nutzers oder Löschung seiner Registrierung.

        Die Geltendmachung von Schadenersatz- oder anderen rechtlichen Ansprüchen durch SocialBox bleibt vorbehalten.

    Schutz der Urheber- und Markenrechte

    Der Nutzer nimmt zur Kenntnis, dass sämtliche Elemente auf der SmallJobs-Webseite, etwa Texte, Bilder oder Hörsignale, urheber- und/oder markenrechtlich geschützt sind und ausschliesslich zum privaten Gebrauch heruntergeladen werden dürfen. Insbesondere dürfen diese Elemente vom Nutzer nicht zu kommerziellen Zwecken verbreitet, kopiert, gesendet, geändert oder in anderer Weise genutzt werden.
    
    Haftungsbeschränkung und Gewährleistungsausschluss

        SocialBox haftet gegenüber dem Nutzer im Zusammenhang mit dem Vertragsverhältnis oder der smallJobs-Website lediglich für vorsätzlich oder grob fahrlässig verursachte Schäden. Jegliche darüber hinausgehende Haftung für mit dem Vertragsverhältnis direkt oder indirekt zusammenhängende Schäden wird ausgeschlossen, unabhängig davon, aus welchem Rechtsgrund die   Schäden geltend gemacht werden.

        SocialBox gibt gegenüber dem Nutzer im Zusammenhang mit der SmallJobs-Webseite und dem Vertragsverhältnis keine Gewährleistungen ab und schliesst die allenfalls bestehenden gesetzlichen Gewährleistungen aus. Der Geltungsbereich dieses umfassend zu verstehenden Gewährleistungsausschlusses wird durch die nachfolgenden spezifischen Bestimmungen nicht eingeschränkt. Gleiches gilt auch für den in Ziff. 10.1 vorstehend enthaltenen Haftungsausschluss.

        SocialBox übernimmt für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte der SmallJobs-Webseite keine Gewähr. Auch wird keine Gewähr dafür übernommen, dass die SmallJobs-Webseite fehlerlos und frei von schädlichen Bestandteilen (wie z.B. Viren) ist.

        Die SmallJobs-Webseite kann Links enthalten zu Websites von Dritten, auf deren Inhalte SocialBox keinen Einfluss hat. Auch für diese fremden Inhalte übernimmt SocialBox keine Gewähr.

        SocialBox ist bemüht, die SmallJobs-Webseite möglichst konstant verfügbar zu halten. Der Nutzer anerkennt jedoch, dass eine 100%ige Verfügbarkeit der SmallJobs-Webseite nicht möglich ist. Der Nutzer hat keinen Anspruch darauf, dass die SmallJobs-Webseite verfügbar ist.

        Sofern von SocialBox nicht ausdrücklich und schriftlich anders festgelegt, beteiligt sich SocialBox inhaltlich nicht an der Kommunikation zwischen den Nutzern. SocialBox bietet dem Nutzer lediglich eine Plattform an, um diesen mit anderen Nutzern zusammenzuführen.

    Schadloshaltung

    Der Nutzer stellt SocialBox von sämtlichen Ansprüchen frei, die Dritte (inklusive andere Nutzer) gegen SocialBox geltend machen und die damit zusammenhängen, dass der Nutzer gegen Bestimmungen des Vertragsverhältnisses verstossen hat. Der Nutzer übernimmt alle SocialBox aufgrund einer solchen Verletzung von Bestimmungen des Vertragsverhältnisses entstehenden Kosten, einschliesslich der für die Rechtsverteidigung (auch vorprozessual) entstehenden Kosten. Allfällige weitergehende Rechte sowie Schadensersatzansprüche von SocialBox bleiben unberührt.
    
    Kündigung des Vertragsverhältnisses

        Schlussbestimmungen

            SocialBox ist jederzeit berechtigt, die SmallJobs-Webseite oder die Dienste der SmallJobs-Webseite per sofort einzustellen. Eine Benachrichtigung des Nutzers ist in diesen Fällen nicht erforderlich. Ziff. 12.3 vorstehend bezüglich der Folgen der Kündigung findet analog Anwendung.

            Das Recht zur Zurückhaltung von Zahlungen oder der Verrechnung mit Gegenforderungen steht dem Nutzer nur insoweit zu, als seine Gegenansprüche unbestritten oder rechtskräftig festgestellt sind.

            Es entspricht dem Willen der Parteien des Vertragsverhältnisses, selbständig zu bleiben, und das Vertragsverhältnis soll nicht zu einer einfachen Gesellschaft oder einer anderen gesellschaftsähnlichen Verbindung zwischen SocialBox und dem Nutzer führen.

            Ergänzungen, Abänderungen oder die Aufhebung des Vertragsverhältnisses sind nur in Schriftform und von beiden Vertragspartnern unterzeichnet rechtsgültig. Dies gilt insbesondere auch für diese Schriftformklausel. Vorbehalten bleibt
            Ziff. 13 vorstehend.

            Für sämtliche im Rahmen dieses Vertragsverhältnisses erfolgenden Zustellungen ist ein Faxschreiben oder eine E-Mail ausreichend. Schriftlichkeit im Sinne dieser AGB oder des Vertragsverhältnisses liegt auch bei Faxschreiben oder E-Mails vor.

            Rechte und Pflichten aus dem Vertragsverhältnis können nur mit Zustimmung der jeweils anderen Vertragspartei auf Dritte übertragen werden. Dasselbe gilt bezüglich der Übertragung des gesamten Vertragsverhältnisses auf einen Dritten oder des Eintritts eines Dritten in dieses Vertragsverhältnis.

            Sollten eine oder mehrere der Bestimmungen des Vertragsverhältnisses nichtig
            oder unwirksam sein oder werden, so wird der übrige Teil des Vertragsverhältnisses davon nicht berührt. Im Falle der Nichtigkeit oder Unwirksamkeit einer Klausel, ist diese durch eine solche zu ersetzen, die dem wirtschaftlichen Zweck der unwirksamen Bestimmung am nächsten kommt.

            Sollte eine Partei ihr aus dem Vertragsverhältnis zustehende Rechte nicht oder nicht rechtzeitig ausüben, so führt dies nicht zu einer Verwirkung oder einem Verlust dieser Rechte. Die Nichtausübung oder verspätete Ausübung eines Rechts soll in keinem Fall dazu führen, dass dieses Recht nicht mehr ausgeübt werden kann.

            Das Vertragsverhältnis untersteht dem materiellen schweizerischen Recht, unter Ausschluss der Kollisionsnormen und von internationalen Abkommen.

            Streitigkeiten, Meinungsverschiedenheiten oder Ansprüche aus oder in Zusammenhang mit diesem Vertragsverhältnis, einschliesslich dessen Gültigkeit, Ungültigkeit, Verletzung oder Auflösung, werden ausschliesslich durch die ordentlichen Gerichte am Gerichtsstand des Sitzes von SocialBox entschieden.

