%div.modal.fade{id: "organization_new_modal"}
  %div.modal-dialog.wide-table
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        %h2= t('organizations.add_new')
      %div.modal-body
        = render 'broker/region_organizations/form.html.haml'
