form {
  margin-bottom: 30px;

  label {
    margin-top: 10px;
  }
}

.help-inline {
  color: #e74c3c;
}

.alert {
  .help-inline {
    color: #fff;
  }
}

fieldset {
  margin-top: 50px;
  overflow: visible;

  legend {
    font-size: 2em;
    overflow: visible;

    i {
      margin-top: -20px;
      overflow: visible;
    }
  }

  .error .form-control {
    border-color: #e74c3c;
  }
}

.form-actions {
  margin-top: 30px;
}

#seeker_date_of_birth_3i, #job_start_date_3i, #job_end_date_3i, #seeker_occupation_end_date_3i {
  float: left;
  width: 20%;
  margin-right: 5%;
}

#seeker_date_of_birth_2i, #job_start_date_2i, #job_end_date_2i, #seeker_occupation_end_date_2i {
  float: left;
  width: 50%;
  margin-right: 5%;
}

#seeker_date_of_birth_1i, #job_start_date_1i, #job_end_date_1i, #seeker_occupation_end_date_1i {
  float: left;
  width: 20%;
}

.sj-label{
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.date-wrapper{
  float: right;
  margin-top: 15px;
  background-color: #eee;
  border: 1px solid rgb(204,204,204);
}
.sj-display-inline-block{
  display: inline-block;
}

.sj-date-input{
  height: 30px;
  padding: 0px;
  width: 90px;
}

.sj-date-divider{
  padding: 3px;
}

.sj-dropdown{
  margin-top: 10px;
  margin-left: 25px;
  height: 42px;
  font-size: 15px;
  padding: 5px;
  padding-left:15px;
  padding-right: 15px;
}

.sum-type{
  margin-left: 8px;
}

.sum-type > label{
  font-weight: 400;
}

.sum-type > label:nth-child(n+1){
  margin-left: 10px;
}

.sj-checkbox-active{
  margin-left: 20px;
}

.sj-checkbox-active > label{
  font-weight: 700;
  margin-left: 5px;
}

.margin-top-10{
  margin-top: 10px;
}

.margin-top-40{
  margin-top: 40px;
}

.sj-statistics-title{
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
}

.sj-export > a:hover{
  cursor: pointer;
}

#chart-legends{
  margin-top: 10px;
  margin-bottom: 10px;
}
#chart-legends > table{
  margin: 0 auto;
}

.chart-legend-label-text > i{
  color: white;
  padding: 4px;
  font-size: 12px;
  margin-right: 4px;
  margin-left: 15px;
  width: 20px;
  height: 20px;
}

.chart-legend-label-text:hover{
  cursor: pointer;
}

.sj-invisible{
  text-decoration: line-through;
}

.form-horizontal.sj-label-left{
  .control-label{
      text-align: left;
      padding-top: 0;
      font-weight: normal;
  }
}