form {
  margin-bottom: 30px;

  label {
    margin-top: 10px;
  }
}

fieldset {
  margin-top: 50px;

  legend {
    font-size: 2em;
    overflow: visible;

    i {
      margin-top: -20px;
    }
  }

  .error .form-control {
    border-color: #e74c3c;
  }

  .help-inline {
    color: #e74c3c;
  }
}

.form-actions {
  margin-top: 30px;
}

#job_seeker_date_of_birth_3i {
  float: left;
  width: 20%;
  margin-right: 5%;
}

#job_seeker_date_of_birth_2i {
  float: left;
  width: 50%;
  margin-right: 5%;
}

#job_seeker_date_of_birth_1i {
  float: left;
  width: 20%;
}
