.sj-header-image-body{
  padding-top: 0px;
}
.sj-header-image-container{
  background: linear-gradient(180deg, rgba(6,47,39,0.9) 0%, rgba(6,47,39,0) 50%, rgba(6,47,39,0) 100%), url(image-path('default-header-image.jpeg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 72vh;
  padding-top: 20px;

  a{
    color: #fff;
  }

  .header{
    border-bottom: none;
  }

}

@media screen and (max-width: 768px){
  .sj-header-image-container {
    height: 50vh;
  }
}

.sj-header-image-jumbotron{
  margin-top: -150px;
  address{
    font-size: 16px;
  }
  .sj-header-image-logo{
    max-width: 140px;
    color: #0f7864;
  }
}

