.sj-rocketchat-icon{
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 100px;
  height: 100px;
  //background-color: red;
  background-image: url(image-path('rcicon.png'));
  background-size: 100px;
}

.sj-rocketchat-iframe-container{
  width: 100%;
  min-height: 500px;
}

.sj-rotate {
  -webkit-animation-name: rotate;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: rotate;
  -moz-animation-duration:2s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(0deg);}
  to {  -moz-transform:rotate(360deg);}
}
