.sj-rocketchat-icon-click{
  position: fixed;
  bottom: 10px;
  right: 40px;
  width: 122px;
  height: 120px;
  &.sj-hide-animation{
    .sj-rocketchat-icon{
      display: none;
    }
    .sj-rocketchat-cross{
      display: block;
    }

  }
}


.sj-rocketchat-icon{
  //background-color: red;
  background-image: url(image-path('rcicon.png'));
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 100px;
  display: block;
}
.sj-rocketchat-icon-click{
  cursor: pointer;  
  span{
    &.blink {
      animation: blinker 1s linear infinite;
    }

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
    background-color: #fff;
    border-color: #17c2a5;
    color: #17c2a5;
    border-width: 5px;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: -20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    min-width: 54px;
    min-height: 54px;
  }
}

.sj-rocketchat-iframe-container{
  width: 100%;
  min-height: 500px;
}

.sj-rotate {
  -webkit-animation-name: rotate;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: rotate;
  -moz-animation-duration:2s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(0deg);}
  to {  -moz-transform:rotate(360deg);}
}


.sj-chat-seeker-container{
  display: none;
  position: fixed;
  bottom: 140px;
  right: 40px;
  width: 400px;
  border: 1px solid #dce4ec;
  border-radius: 3px;
  
}

.sj-rocketchat-cross{
  font-size: 40px;
  position: absolute;
  top: 40px;
  right: 30px;
  display: none;
}

.sj-rocket-chat-brodcast-container{
  padding: 20px;
  label{
    padding-right: 10px;
  }
}

.sj-send-broadcast-rocketchat{
  i{
    display: none;
  }
  &.disabled{
    i{
      display: inline-block;
    }
  }
}