.sj-rocketchat-icon{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  background-color: red;
}

.sj-rocketchat-iframe-container{
  border: 2px solid red;
  width: 500px;
  height: 500px;
}
