%p Hallo #{ @resource.firstname } #{ @resource.lastname }!
%p
%p Jemand hat eine Passwortänderung angefordert, welche mit dem folgenden Link durchgeführt werden kann:
%p= link_to 'Passwort ändern', 'https://winterthur.smalljobs.ch' + edit_password_path(@resource, reset_password_token: @token, subdomain: subdomain_for(@resource))
%p Sollte diese Anfrage nicht von Ihnen stammen, können Sie diese Email ignorieren.
%p Ihr Passwort wird erst geändert, wenn Sie dem Link folgen und ein neues Passwort setzten.
