- if @allocation.todos.allocation.exists?
  %div.provider_allocations.bg-allocations
    %h4= 'TODO'
    - for todo in @allocation.todos.allocation
      %p.todo-title= todo.todotype.title
      %ul.allocations-list
        %li.allocations-list-item= todo.todotype.description.html_safe