%div.modal.fade{id: "broker_new_modal"}
  %div.modal-dialog.wide-table
    %div.modal-content
      %div.modal-header
        %button.close{"data-dismiss": "modal", type: "button"} &times;
        %h2
          = t('brokers.add_new')
      %div.modal-body
        = render 'broker/brokers/form.html.haml'