- if @job.todos.job.exists?
  %div.provider_allocations
    %h4= 'TODO'
    - for todo in @job.todos.job
      %p.todo-title= todo.todotype.title
      %ul.allocations-list
        %li.allocations-list-item= todo.todotype.description.html_safe